:root {
    --hue: 162;
    --first-color: hsl(var(--hue), 100%, 40%);
}

.first-color {
    color: var(--first-color);
}

a {
    text-decoration: none;
}

footer {
    font-size: 1.5rem;
}

.navbar-brand {
    text-transform: uppercase;
}

.small-image {
    width: 50px;
    height: 50px;
}

.accordion-button::after {
    display: none;
}

.accordion-button {
    cursor: initial; !Important
}
a.first-color,
a.first-color:hover {
    color: var(--first-color);
    text-decoration: none;
}
.btn-primary {
    background-color: hsl(162, 100%, 40%) !important;
    border: none !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: hsl(162, 100%, 30%); !important;
    border: none !important;
}